@font-face {
  font-family: "Arial-Regular";
  src: url("../vendor/fonts/ARIAL.woff");
}

@font-face {
  font-family: "Arial-Bold";
  src: url("../vendor/fonts/ARIALBD.woff");
}

@font-face {
  font-family: "Arial-NarrowBold";
  src: url("../vendor/fonts/ARIALNB.woff");
}
